$blue: #2e8ece;
$theme: dark;

// миксин для кнопочки

@mixin button($color) {
  padding: 10px 14px;
  background: $color;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.card {
  padding: 16px;
  
// для тёмной темки
  @if $theme == dark {
    background: #222;
    color: white;
  }
  
  &__title {
    font-size: 20px;
  }
  
// рамка 
  &--accent {
    border: 2px solid $blue;
  }
  
// кнопкич
  .btn {
    @include button($blue);
  }
}